html,
body {
    height: 100%;
}

body {
    display: block;
    background-image: url("images/congruent_pentagon.png");
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.container .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
}

span {
    font-size: 15px;
    color: #999;
}

span .name {
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#chat {
    position: relative;
    height: calc(100% - 48px);
    overflow: hidden;
    padding: 0 35px 92px;
    width: 100%;
    border: 1px solid #e6e6e6;
    vertical-align: baseline;
}

.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}

.bubble.user {
    float: left;
    color: #fff;
    background-color: #00b0ff;
}

.bubble.user:before {
    left: -3px;
    background-color: #00b0ff;
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.bubble.bot {
    float: right;
    color: #1a1a1a;
    background-color: #eceff1;
}

.bubble.bot:after {
    right: -3px;
    background-color: #eceff1;
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.container .write {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}

.write input {
    font-size: 16px;
    float: left;
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0 0 0 0;
}

.div {
    display: block;
}

.conversation-start {
    text-align: center;
}

.conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: #999;
}

.conversation-start span:before {
    left: 0;
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}

.conversation-start span:after {
    right: 0;
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}

*, *:before, *:after {
    box-sizing: border-box;
}