<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask-SSE Quickstart</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}">
<body>
<div class="container">
    <div class="top">
        <span>To:
            <span class="name">EISME Bot</span>
        </span>
    </div>
    <div id="chat">
        <div class="conversation-start">
            <span>Votre conversation commence ici</span>
        </div>
    </div>
    <br><br>
    <div class="write">
        <input id="text" placeholder="Enter your message here"><br><br>
    </div>
</div>
<script type="text/javascript"
        src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script>
    var source = new EventSource("{{ url_for('sse.stream') }}");

    source.addEventListener('user', function (event) {
        var data = JSON.parse(event.data);
        var text = data.message + "\n";
        $('#chat').append('<div class="bubble user">' + text + '</div>');
    }, false);

    source.addEventListener('bot', function (event) {
        var data = JSON.parse(event.data);
        var text = data.message + "\n";
        $('#chat').append('<div class="bubble bot">' + text + '</div>');
    }, false);

    source.addEventListener('error', function (event) {
        console.log("Failed to connect to event stream. Is Redis running?");
    }, false);

    $('#text').keypress(function (e) {
        var code = e.keyCode || e.which;
        var textBox = $('#text');
        if (code == 13) {
            var text = textBox.val();
            console.log(text);
            textBox.val('');
            $.ajax({
                type: "POST",
                url: 'http://' + document.domain + ':' + location.port + '/message',
                data: JSON.stringify({"message": text}, null, '\t'),
                contentType: 'application/json;charset=UTF-8'
            });
        }
    });

</script>
</body>
</html>